* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #171717;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.chat-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid rgba(85, 85, 85, 0);
    border-radius: 10px;
    background-color: rgba(51, 51, 51, 0);
    position: relative; /* Добавьте это */
}

.chat-window {
    flex-grow: 1;
    overflow-y: auto;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: rgba(43, 43, 43, 0);
    position: relative; /* Добавьте это */
}

.chat-container::before,
.chat-container::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    height: 40px; /* Высота размытия */
    pointer-events: none; /* Игнорировать события мыши */
}

.chat-container::before {
    top: 0; /* Размытие сверху */
    background: linear-gradient(to bottom, rgba(43, 43, 43, 0.8), rgba(43, 43, 43, 0) 100%);
    margin-bottom: auto;
}

.chat-container::after {
    bottom: 0; /* Размытие снизу */
    background: linear-gradient(to top, rgba(43, 43, 43, 0.8), rgba(43, 43, 43, 0) 100%);
    margin-top: auto;
}

.message {
    margin-top: 5%;
    padding: 10px;
    border-radius: 15px;
    max-width: 80%;
    opacity: 0; /* Начальное состояние прозрачности для анимации */
}

/* Анимация для сообщений пользователя */
@keyframes userMessageAnimation {
    from {
        transform: translateY(100%); /* Старт анимации снизу */
        opacity: 0; /* Полностью прозрачное */
    }
    to {
        transform: translateY(0); /* В конечную позицию */
        opacity: 1; /* Полная видимость */
    }
}

/* Анимация для сообщений ИИ */
@keyframes aiMessageAnimation {
    from {
        transform: translateX(-100%); /* Старт анимации слева */
        opacity: 0; /* Полностью прозрачное */
    }
    to {
        transform: translateX(0); /* В конечную позицию */
        opacity: 1; /* Полная видимость */
    }
}

@keyframes gradient-rotate {
    0% {
        background: linear-gradient(90deg, rgba(252,158,88,0.7), rgba(255,208,138,0.9), rgba(252,158,88,0.7));
    }
    100% {
        background: linear-gradient(450deg, rgba(252,158,88,0.7), rgba(255,208,138,0.9), rgba(252,158,88,0.7));
    }
}

@keyframes box-shadow-pulse {
    0% {
        box-shadow: 0 0 15px 2px rgba(51,153,255,0.7);
    }
    50% {
        box-shadow: 0 0 25px 8px rgba(51,153,255,1);
    }
    100% {
        box-shadow: 0 0 15px 2px rgba(51,153,255,0.7);
    }
}

@keyframes fade-in-char {
    0% {
        opacity: 0;
        font-weight: 900;
    }
    100% {
        opacity: 1;
        font-weight: 500;
    }
}

/* Анимация появления элементов */
.ai-char {
    opacity: 0;
    font-weight: normal;
    animation: fadeIn 0.5s forwards, boldFade 0.3s forwards;
}

/* Анимация плавного появления элементов */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Анимация временного увеличения жирности */
@keyframes boldFade {
    0% {
        font-weight: bold;
    }
    100% {
        font-weight: normal;
    }
}

.user-message {
    align-self: flex-end;
    text-align: right;
    background: linear-gradient(-145deg, rgba(252, 158, 88, 0.5) 0%, rgba(255, 208, 138, 0.7) 54%, rgba(252, 158, 88, 0.5) 100%);
    color: black;
    font-family: "Advent Pro", system-ui;
    font-optical-sizing: auto;
    font-weight: 500;
    font-size: 20px;
    font-style: normal;
    font-variation-settings: "wdth" 130.1;
    margin-left: auto;
    width: 60%;
    border-radius: 8px;
    padding: 9px;
    box-sizing: border-box;
    -webkit-box-shadow: 0px 0px 50px 2px rgba(255, 140, 46, 0.7);
    -moz-box-shadow: 0px 0px 50px 2px rgba(255, 140, 46, 0.7);
    box-shadow: 0px 0px 50px 2px rgba(255, 140, 46, 0.7);
    animation: userMessageAnimation 0.5s ease forwards; /* Применение анимации */
}

.ai-message {
    align-self: flex-start; /* Чтобы выравнивалось слева */
    text-align: left;
    background: linear-gradient(-145deg, rgba(252, 158, 88, 0) 0%, rgba(255, 208, 138, 0) 54%, rgba(252, 158, 88, 0) 100%);
    color: white;
    font-family: "Advent Pro", system-ui;
    font-optical-sizing: auto;
    font-weight: 500;
    font-size: 18px;
    font-style: normal;
    letter-spacing: 1px;
    font-variation-settings: "wdth" 130.1;
    width: 100%;
    -webkit-box-shadow: 0px 0px 50px 2px rgba(51,153,255,0.7);
    -moz-box-shadow: 0px 0px 50px 2px rgba(51,153,255,0.7);
    box-shadow: 0px 0px 50px 2px rgba(51,153,255,0.7);
    border-radius: 10px;
    animation: aiMessageAnimation 2s ease forwards; /* Применение анимации */
    transition: box-shadow 0.3s ease; /* Плавный переход к обычному состоянию */
}

/* Пульсирующий и переливающийся градиент */
.ai-message.loading::before {
    content: "";
    position: absolute;
    top: -1px;
    left: -1px;
    right: -1px;
    bottom: -1px;
    border-radius: 10px;
    background: linear-gradient(45deg, rgba(51,153,255,0.7), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(51,153,255,0.7));
    background-size: 400% 400%; /* Для анимации движения градиента */
    z-index: -1; /* Чтобы было под контейнером с сообщением */
    animation: gradient-rotate 2s ease infinite, box-shadow-pulse 2s ease-in-out infinite;
}

/* Анимация вращения градиента */
@keyframes gradient-rotate {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

/* Анимация пульсации тени */
@keyframes box-shadow-pulse {
    0% {
        box-shadow: 0px 0px 50px 0px rgba(51,153,255,0);
    }
    50% {
        box-shadow: 0px 0px 50px 2px rgba(51,153,255,0.7);
    }
    100% {
        box-shadow: 0px 0px 50px 0px rgba(51,153,255,0);
    }
}

/* Класс для свечения загрузки ответа ИИ */
.ai-loading {
    animation: gradient-rotate 2s linear infinite, box-shadow-pulse 1s ease-in-out infinite;
    background-size: 200% 200%;
}

.input-container {
    width: 100%; /* Динамическая ширина */
    z-index: 5;
    align-self: center;
    max-width: 500px;
    padding: 10px;
    display: flex;
    align-items: center;
    background: url('input-box.svg'); /* Подключаем SVG как фон */
    background-size: 700% 700%; /* Подгоняем SVG по размерам контейнера */
    background-position-x: -299.5%;
    background-position-y: -310%;
    -webkit-box-shadow: 0px -45px 53px 22px rgb(23, 23, 23);
    -moz-box-shadow: 0px -45px 53px 22px rgb(23, 23, 23);
    box-shadow: 0px -45px 53px 22px rgb(23, 23, 23);
}

.input-container input {
    flex-grow: 1;
    padding: 10px;
    border: none;
    border-radius: 10px;
    outline: none;
    font-size: 16px;
}

.input-container button {
    margin-left: 10px;
    padding: 10px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

input[type="text"] {
    flex-grow: 1;
    padding: 12px;
    font-size: 20px;
    border: none;
    border-radius: 25px;
    font-family: "Advent Pro", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
            "wdth" 130.1;
    margin-right: -20px;
    margin-left: -2px;
    background: linear-gradient(145deg, rgba(255, 255, 255, 0.04) 0%, rgba(255, 255, 255, 0.2) 54%, rgba(255, 255, 255, 0.04) 100%);
    box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.1);
    border: 2px solid rgba(255, 255, 255, 0.46);
    color: #000000;
    outline: none;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    opacity: 0.85;
    transition: box-shadow 0.3s ease;
}

input[type="text"]:focus {
    box-shadow: 7px 7px 20px rgba(255, 255, 255, 0.1);
    opacity: 1;
}

input[type="text"]::placeholder {
    opacity: 1;
    color: rgb(21, 20, 20);
}

.button {
    width: 114px;
    height: 114px;
    border-radius: 50%;
    position: relative;
    box-shadow: 7px 7px 20px rgba(0, 0, 0, 0.1);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.8) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.2s;
}

.button:hover {
    transform: scale(1.05);
}

.icon {
    width: 50%;
    height: 50%;
    position: absolute;
    background: radial-gradient(circle, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.34) 93%, rgba(255, 255, 255, 0.04) 100%);
    border-radius: 50%;
}

.icon:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    height: 50%;
    background: radial-gradient(circle, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0.8) 100%);
    border-radius: 50%;
    transform: translate(-50%, -50%);
}


.svg-button {
    width: 100px; /* Change size here */
    height: 100px; /* Change size here */
    cursor: pointer;
    border: none; /* Remove default button border */
    background: none; /* Remove background */
    padding: 0; /* Remove padding */
    transition: transform 0.5s ease;
    margin-right: -10px;
}

.svg-button:hover {
    transform:  translate(0px, -5px);
}
